[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
]

[advisories]
db-urls = ["https://github.com/rustsec/advisory-db"]
unmaintained = "all"

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "ISC",
    "OpenSSL",
    "Zlib",
    "Unicode-3.0"
]

[licenses.private]
ignore = true

[bans]
multiple-versions = "warn"
highlight = "all"

[sources]
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
